# conda create --name mltests python=3.8

# Deep learning
torch
pytorch-lightning
numpy
pandas

matplotlib
seaborn
plotly
kaleido

# Image
Pillow
scikit-image
opencv-python
albumentations

# Metrics
torchmetrics
bert-score
unbabel-comet
sacrebleu
datasets

# NLP
sacremoses
sentencepiece
subword-nmt
torchtext
spacy

# ONNX
tf2onnx
onnx

# Other
tqdm
jupyterlab
pytest
